<%= form_with(model: [:team, @player]) do |f| %>
    <div class="form-group">
    <%= f.label :story %>
    <%= f.text_field :story, { :class => "form-control"} %>
    </div>


    <%= f.submit :Submit, {:class => "btn btn-primary"} %>


<% end %>