


<div class="row" style="text-align: center;">
    <div class="col">
        <h1>Edit</h1>
    </div>
</div>
<div class="row">
   <div class"col" id="center">
       <%= render "partials/story_form" %>    
    </div>
</div>



<div class="back-edit"<%= link_to 'Back', stories_path %>
