




    <ul class="stories-list">
        <% @stories.each do |s| %>
        <li class="post">
            <div class="user"><%= '@' + s.user.username %></div>
            
            <h3 class="title"><%= link_to s.title, story_path(s) %></h3>
            <br/>
            <div class="description"><%= s.description %></div>
            
        
        <% end %>
        
    </ul>


