
<div class="row" style="text-align: center;">
<div class="col">
    <h1>NEW STORY</h1>
</div>
</div>




<%= render "partials/story_form" %>


<div class="row">
   <div class"col" id="center">
   <%= link_to 'Back', stories_path %>
    </div>
</div>

