/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @font-face {
    font-family: 'the_jacatraregular';
    src: url('the_jacatra-webfont.woff2') format('woff2'),
         url('the_jacatra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bikoregular';
    src: url('biko_regular-webfont.woff2') format('woff2'),
         url('biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bikolight';
    src: url('biko_light-webfont.woff2') format('woff2'),
         url('biko_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 .nav-item:last-of-type{
     position: absolute;
     right: 10px;
 }

 #nav {
     color: red;
 }

 title {
     position: absolute;
     right: 10px;
 }
.logo {
    font-family: 'the_jacatraregular';
    font-weight: normal;
    font-style: normal;

}
 .nav-link {
    font-family: 'bikoregular';
    font-weight: normal;
    font-style: normal;
 }
 div {
    font-family: 'bikoregular';
    font-weight: normal;
    font-style: normal;
 }
 p {
    font-family: 'bikoregular';
    font-weight: normal;
    font-style: normal;
 }

 .post {
     border: 3px solid black;
     margin: 10px; 
     padding: 40px;
     background-color: #dbdcdd;
 }
 ul.stories-list {
     width: 50%; 
     margin: 0 auto;
     list-style-type: none;
     
 }
 .description {
    font-family: 'bikolight';
    font-weight: normal;
    font-style: normal;
 }