/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @font-face {
    font-family: 'the_jacatraregular';
    src: url('the_jacatra-webfont.woff2') format('woff2'),
         url('the_jacatra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 100pt;
}
@font-face {
    font-family: 'bikoregular';
    src: url('biko_regular-webfont.woff2') format('woff2'),
         url('biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bikolight';
    src: url('biko_light-webfont.woff2') format('woff2'),
         url('biko_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#center {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
}
 .nav-item:last-of-type{
     position: absolute;
     right: 10px;
 }

 #nav {
     color: red;
 }

 title {
     position: absolute;
     right: 10px;
 }
.logo {
    font-family: 'the_jacatraregular';
    font-weight: normal;
    font-style: normal;

}
 .nav-link {
    font-family: 'bikoregular';
    font-weight: normal;
    font-style: normal;
 }
 div {
    font-family: 'bikoregular';
    font-weight: normal;
    font-style: normal;
 }
 p {
    font-family: 'bikoregular';
    font-weight: normal;
    font-style: normal;
 }

 .post {
     border: 3px solid black;
     margin: 10px; 
     padding: 40px;
     background-color: #dbdcdd;
     list-style-type: none;
 }
 ul.stories-list {
     width: 50%; 
     margin: 0 auto;
     list-style-type: none;
     
 }
 .description {
    font-family: 'bikolight';
    font-weight: normal;
    font-style: normal;
 }
 a {
     color: black;
 }
 .inline {
     display: inline;
 }
 .form-control {
    border: 3px solid black;
    border-bottom-right-radius: 20%;
    border-right-width: 20px;
    width: 300px;
    background-color: #dbdcdd;
    margin: 0 auto;
    
 }
 .form-control-label {
    border: 3px solid black;
    padding: 5px;
    border-bottom-right-radius: 20%;
    border-right-width: 10px;
    background-color: #dbdcdd;
   
 }
 .back-edit {
     display: inline; 
 }

 .submit-btn {
    border: 3px solid black;
    padding: 1px;
    border-bottom-right-radius: 20%;
    border-right-width: 10px;
 }

 .big {
     height: 200px !important;
 }